*{
    background:#F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%
}


.logo{
padding-top: 10px;
margin-left: 10px;
width: 10%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.campo-texto{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder{color: #0A3871;}
    .campo-texto:focus{outline: none;
    }

.mensaje{
    background: #FFFFFF;
    background-image: url(./img/Muñeco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    
}

.mensaje:focus{
    outline: none;
}

h6{  
     width: 205px;
     height: 18px;
     opacity: 80%;
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-size: 12px;
     font-style: normal;
     font-variation-settings: "slnt" 0;
     line-height: 18px;
     letter-spacing: 0em;
     text-align: left;
     outline: none;
     resize: none;
     border: 0;
     padding: 0;
     background: #F3F5FC;
     color: #495057;
    
}

.botones{
    display: flex;
    margin-top: 18px;

}

.btnCifrar{
    width: 328px;
    height: 67px;
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background-color: #0A3871;
    
}

.btnDescifrar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    margin-left: 30px;
    border: 1px solid #0A3871;
    background: #D8DFE8;

}

.btn-copiar{
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
    height: 67px;
    cursor: pointer;
    color: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;

}